*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
        body{
            background: #232526;
background: -webkit-linear-gradient(to left, #414345, #232526);  
background: linear-gradient(to left, #414345, #232526); 
overflow-x: hidden;

        }
        .container{
            margin-top: 30px;
            text-align: center;
            color: #fff;
        }
        .btn{
            display: inline-block;
            padding: 15px;
            margin-right: 5px;
            height: 50px;
            min-width: 100px;
            background: #348AA7;
            border: none;
            outline: none;
            color: white;
            font-family: inherit;
            font-weight: 400;
            margin-top: 25px;
            font-size: 20px;
            border-radius: 3px;
            box-shadow: 0 5px 0px darken(#348AA7,0%);
            border-bottom: 2px solid darken(#348AA7,3%);
        }
        .btn:hover{
                background: darken(#348AA7,5%);
                box-shadow: 0 4px 1px darken(#348AA7,5%);
                border-bottom: 2px solid darken(#348AA7,8%);
                transition: all 0.1s ease-in;
        }
        .btn:active {
            transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
        }
        @media only screen and (max-width: 600px) {
            .container{
                margin-top: 60px !important;
            }
}